*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.all-content {
    display: flex;
    height: 100vh;
}

.main-sidebar {
    background-color: rgb(197, 197, 197);
    width: 25vw;
    max-width: 300px;
    min-width: 200px;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.footer-nav {
  border: 5px solid black;
  position: absolute;
  bottom: 0;
  flex-grow: 1;
  width: 100%;
}

.to-do-item {
    border: 3px solid black;
}